:root {
  /* declare a variable with `--` syntax */
  --dark: black;
  --light: #fff;
  --red: rgb(157, 69, 69);
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #686a6c;
}

.myimage {
  display: flex;
position: relative;
left: 900px;
width: 200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--dark);
  color: var(--light);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  color: var(--light);
  text-decoration: none;
  padding: 10px;
}

h1 {
  font-size: 200%;
}

#banner {
  width: 100%;
  height: 400px;
}

#subtitle {
  position: relative;
  bottom: 150px;
  left: 85%;
  background-color: var(--dark);
  color: var(--light);
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 200px;
}

#About,
#work,
#Contact {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

ul {
  list-style: none;
}

#contact {
  display: flex;
  justify-content: space-evenly;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.image-item {
  width: 30%;
  margin-bottom: 30px;
  position: relative;
}

#image-item1 {
  width: 100%;
}

.image-item img {
  width: 70%;
  border: 3px solid transparent;
}

#image-item1 img {
  width: 100%;
}

.image-item:hover img {
  border-color: var(--red);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay1 {
  left: 36%;
  top: 46%;
}

.image-item:hover .overlay {
  opacity: 1;
}

.overlay button {
  border: 3px solid var(--light);
  padding: 10px 20px;
  background-color: darkslategray;
  color: var(--light);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.overlay button:hover {
  border-color: var(--red);
  background-color: var(--red);
  color: var(--light);
}

footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 50px;
  text-align: center;
}